---
import MainGridLayout from '../layouts/MainGridLayout.astro'
---
<MainGridLayout title="宏观数据追踪" description="宏观金融数据追踪 - A股总市值、住户存款、非银机构存款">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative">
        <div class="card-base z-10 p-0 relative w-full">
            <iframe 
                src="/macro-visualization.html" 
                class="w-full border-0 rounded-[var(--radius-large)]"
                style="height: calc(100vh - 200px); min-height: 800px;"
                title="宏观金融数据追踪"
            ></iframe>
        </div>
    </div>
</MainGridLayout>
